*.svg
*.png
*.ico
*.sh
*.pxd

.github/ISSUE_TEMPLATE
.dockerignore
.DS_Store
.eslintignore
.gitattributes
.gitignore
.prettierignore
Dockerfile
LICENSE
pnpm-lock.yaml

dist

cdn.pagic.org

src/vendors
src/types
src/**/prism_tomorrow.css
src/**/prism.css

test/fixtures/walk
test/fixtures/test_*
