*.svg
*.png
*.ico
*.sh
*.pxd

.github/ISSUE_TEMPLATE
.dockerignore
.DS_Store
.eslintignore
.gitignore
.prettierignore
Dockerfile
LICENSE

cdn

dist
site/assets/vconsole.min.js

src/vendors
src/types
src/**/prism_tomorrow.css
src/**/prism.css

test/fixtures/walk
