:root {
  /* Colors */
  --color-background: white;
  --color-text: #333;
  --color-text-muted: #777;
  --color-border: #eee;

  --color-primary: hsl(210, 70%, 50%);

  --color-background-faded: #f2f2f2;
  --color-background-code: #f2f2f2;

  /* Typography */
  --font-size: 16px;
  --font-size-small: 85%;

  --line-height: 1.5;
  --line-height-small: 1.25;

  --font-weight-bold: 600;
  /* Safari for OS X and iOS (San Francisco) */
  /* Chrome for OS X (San Francisco) */
  /* Chinese font for OSX and iOS */
  /* Android */
  /* Windows */
  /* Chinese font for Windows */
  /* Linux */
  /* Basic web fallback */
  /* Emoji */
  --font-family: '-apple-system', 'BlinkMacSystemFont', 'Hiragino Sans GB', 'Roboto', 'Segoe UI', 'Microsoft Yahei',
    '微软雅黑', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica', 'Arial', 'STHeiti', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  --font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
}
